djangorestframework
psycopg2 
boto3 
django-storages 
pillow
djangorestframework-simplejwt

asgiref                       
boto3                         
botocore                     
Django                        
django-cors-headers           
django-storages               
djangorestframework           
djangorestframework_simplejwt 
jmespath                      
pillow                        
pip                           
psycopg2                      
PyJWT                         
python-dateutil               
python-dotenv                 
rest-framework-simplejwt      
s3transfer                    
setuptools                    
six                           
sqlparse                      
typing_extensions             
tzdata                       
urllib3                       